.add-contact {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.add-contact__number-input {
  padding: 5px;
  border-radius: 15px;
}

.add-contact__add-button {
  position: relative;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.add-contact__add-button::after, 
.add-contact__add-button::before {
  position: absolute;
  left: 3px;
  top: 12px;

  content: '';
  width: 20px;
  height: 4px;
  background-color: black;
}

.add-contact__add-button::before {
  transform: rotate(90deg);
}