.chat-block {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 70%;

  background-color: lightgray;
}

.chat-block__no-chat {
  font-size: 20px;
}