.user-block {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 40%;
}

.user-block::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  content: '';
  width: 1px;
  background-color: black;
}